# Automatically detect text files
* text=auto

# Keep project code and container configuration in Unix LF format
*.py text eol=lf
*.sql text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cnf text eol=lf
*.txt text eol=lf
Dockerfile text eol=lf

# PowerShell files may use Windows CRLF
*.ps1 text eol=crlf